## Exploratory Data Analysis

Understanding the dataset to explore how data is present and if there is a need of creating some aggregated tables that can help with:
- Vendor Selection for profitability
- Product Pricing Optimization

### 1. Setup and Imports

Import the libraries used throughout the analysis. `pandas` is used for tabular manipulation, while `sqlite3` provides access to the SQLite database.

In [1]:
import pandas as pd
import sqlite3

### 2. Connect to the SQLite Database

Create a connection to the project database.

> **Note:** The path in the notebook is currently a Windows local path. If you run this notebook on another machine/environment, update it to the correct location (or use a relative path).

In [4]:
# creating database connection
conn = sqlite3.connect(r"D:\DA_Projects\vendor_performance_data_analytics\inventory.db")

### 3. Explore Available Tables

List all tables present in the database so we know which entities (sales, purchases, invoices, etc.) are available for analysis.

In [5]:
# checking tables in db
tables = pd.read_sql_query("SELECT name FROM sqlite_master WHERE type='table'", conn)
tables

              name
0  begin_inventory
1    end_inventory
2        purchases
3  purchase_prices
4            sales
5   vendor_invoice

### 4. Quick Table Profiling

For each table, print a record count. This helps validate that the database loaded correctly and gives a rough sense of table sizes.

In [14]:
for table in tables["name"]:
    print("-"*50, f"{table}", "-"*50)
    print("Number of records:", pd.read_sql(f"SELECT COUNT(*) AS COUNT FROM {table}", conn)["COUNT"].values[0])
    display(pd.read_sql(f"SELECT * FROM {table} LIMIT 5", conn))

-------------------------------------------------- begin_inventory --------------------------------------------------
Number of records: 206529

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,startDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,8,12.99,2024-01-01
1,1_HARDERSFIELD_60,1,HARDERSFIELD,60,Canadian Club 1858 VAP,750mL,7,10.99,2024-01-01
2,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,6,36.99,2024-01-01
3,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,3,38.99,2024-01-01
4,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,6,34.99,2024-01-01

-------------------------------------------------- end_inventory --------------------------------------------------
Number of records: 224489

,InventoryId,Store,City,Brand,Description,Size,onHand,Price,endDate
0,1_HARDERSFIELD_58,1,HARDERSFIELD,58,Gekkeikan Black & Gold Sake,750mL,11,12.99,2024-12-31
1,1_HARDERSFIELD_62,1,HARDERSFIELD,62,Herradura Silver Tequila,750mL,7,36.99,2024-12-31
2,1_HARDERSFIELD_63,1,HARDERSFIELD,63,Herradura Reposado Tequila,750mL,7,38.99,2024-12-31
3,1_HARDERSFIELD_72,1,HARDERSFIELD,72,No. 3 London Dry Gin,750mL,4,34.99,2024-12-31
4,1_HARDERSFIELD_75,1,HARDERSFIELD,75,Three Olives Tomato Vodka,750mL,7,14.99,2024-12-31

-------------------------------------------------- purchases --------------------------------------------------
Number of records: 2372474

,InventoryId,Store,Brand,Description,Size,VendorNumber,VendorName,PONumber,PODate,ReceivingDate,InvoiceDate,PayDate,PurchasePrice,Quantity,Dollars,Classification
0,69_MOUNTMEND_8412,69,8412,Tequila Ocho Plata Fresno,750mL,105,ALTAMAR BRANDS LLC,8124,2023-12-21,2024-01-02,2024-01-04,2024-02-16,35.71,6,214.26,1
1,30_CULCHETH_5255,30,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,4,37.40,1
2,34_PITMERDEN_5215,34,5215,TGI Fridays Long Island Iced,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-02,2024-01-07,2024-02-21,9.41,5,47.05,1
3,1_HARDERSFIELD_5255,1,5255,TGI Fridays Ultimte Mudslide,1.75L,4466,AMERICAN VINTAGE BEVERAGE,8137,2023-12-22,2024-01-01,2024-01-07,2024-02-21,9.35,6,56.10,1
4,76_DONCASTER_2034,76,2034,Glendalough Double Barrel,750mL,388,ATLANTIC IMPORTING COMPANY,8169,2023-12-24,2024-01-02,2024-01-09,2024-02-16,21.32,5,106.60,1

-------------------------------------------------- purchase_prices --------------------------------------------------
Number of records: 12261

,Brand,Description,Price,Size,Volume,Classification,PurchasePrice,VendorNumber,VendorName
0,58,Gekkeikan Black & Gold Sake,12.99,750mL,750,1,9.28,8320,SHAW ROSS INT L IMP LTD
1,62,Herradura Silver Tequila,36.99,750mL,750,1,28.67,1128,BROWN-FORMAN CORP
2,63,Herradura Reposado Tequila,38.99,750mL,750,1,30.46,1128,BROWN-FORMAN CORP
3,72,No. 3 London Dry Gin,34.99,750mL,750,1,26.11,9165,ULTRA BEVERAGE COMPANY LLP
4,75,Three Olives Tomato Vodka,14.99,750mL,750,1,10.94,7245,PROXIMO SPIRITS INC.

-------------------------------------------------- sales --------------------------------------------------
Number of records: 12825363

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
1,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,2,32.98,16.49,2024-01-02,750.0,1,1.57,12546,JIM BEAM BRANDS COMPANY
2,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-03,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
3,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,14.49,14.49,2024-01-08,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY
4,1_HARDERSFIELD_1005,1,1005,Maker's Mark Combo Pack,375mL 2 Pk,2,69.98,34.99,2024-01-09,375.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

-------------------------------------------------- vendor_invoice --------------------------------------------------
Number of records: 5543

,VendorNumber,VendorName,InvoiceDate,PONumber,PODate,PayDate,Quantity,Dollars,Freight,Approval
0,105,ALTAMAR BRANDS LLC,2024-01-04,8124,2023-12-21,2024-02-16,6,214.26,3.47,None
1,4466,AMERICAN VINTAGE BEVERAGE,2024-01-07,8137,2023-12-22,2024-02-21,15,140.55,8.57,None
2,388,ATLANTIC IMPORTING COMPANY,2024-01-09,8169,2023-12-24,2024-02-16,5,106.60,4.61,None
3,480,BACARDI USA INC,2024-01-12,8106,2023-12-20,2024-02-05,10100,137483.78,2935.20,None
4,516,BANFI PRODUCTS CORP,2024-01-07,8170,2023-12-24,2024-02-12,1935,15527.25,429.20,None

### Table Notes and Definitions

- The purchases table contains actual purchase data including products purchased by vendors, their amount (in dollars), their quantity and date of purchase
- The purchase price column is derived from purchase_prices table which stores actual purchase price of a product (brand)
- vendor_invoice table stores all purchases made by a vendor with total quantity of products and their total dollar amount aggregated for that specific purchase order. In addition, it also contains freight cost
- The sales table contains information regarding products sold by vendors, their quantity, their sales price and total revenue earned

As the data that we need for analysis is distributed in different tables, we need to create summary table containing:
- purchase transactions made by vendors
- sales transactions made by vendors
- Freight cost for vendors
- Actual product prices from vendors

### 5. Freight Cost Summary (Vendor-Level)

Aggregate freight costs by vendor. Freight can meaningfully impact vendor profitability, so we keep it as a vendor-level feature for later KPIs.

In [22]:
freight_summary = pd.read_sql("select VendorNumber, sum(Freight) as FreightCost from vendor_invoice group by VendorNumber", conn)
freight_summary

     VendorNumber  FreightCost
0               2        27.08
1              54         0.48
2              60       367.52
3             105        62.39
4             200         6.19
..            ...          ...
121         98450       856.02
122         99166       130.09
123        172662       178.34
124        173357       202.50
125        201359         0.09

[126 rows x 2 columns]

### 6. Joining Core Tables for Context

Pull a combined view across *purchases*, *purchase prices*, and *invoices* (and other relevant tables). The goal is to align quantities, dollars, and vendor/product attributes in one place for downstream summaries.

In [28]:
pd.read_sql("""select
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.PurchasePrice,
            pp.Volume,
            pp.Price as ActualPrice,
            sum(p.Quantity) as TotalPurchaseQuantity,
            sum(p.Dollars) as TotalPurchaseDollars
            from purchases p
            join purchase_prices pp
            on p.Brand = pp.Brand
            where p.PurchasePrice > 0
            group by p.VendorNumber, p.VendorName, p.Brand
            order by TotalPurchaseDollars""", conn)

,VendorNumber,VendorName,Brand,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars
0,7245,PROXIMO SPIRITS INC.,3065,0.71,50,0.99,1,0.71
1,3960,DIAGEO NORTH AMERICA INC,6127,1.47,200,1.99,1,1.47
2,3924,HEAVEN HILL DISTILLERIES,9123,0.74,50,0.99,2,1.48
3,8004,SAZERAC CO INC,5683,0.39,50,0.49,6,2.34
4,9815,WINE GROUP INC,8527,1.32,750,4.99,2,2.64
...,...,...,...,...,...,...,...,...
10687,3960,DIAGEO NORTH AMERICA INC,3545,21.89,1750,29.99,138109,3023206.01
10688,3960,DIAGEO NORTH AMERICA INC,4261,16.17,1750,22.99,201682,3261197.94
10689,17035,PERNOD RICARD USA,8068,18.24,1750,24.99,187407,3418303.68
10690,4425,MARTIGNETTI COMPANIES,3405,23.19,1750,28.99,164038,3804041.22
10691,1128,BROWN-FORMAN CORP,1233,26.27,1750,36.99,145080,3811251.60

In [33]:
pd.read_sql("""select
            VendorNo,
            Brand,
            sum(SalesDollars) as TotalSalesDollars,
            sum(SalesQuantity) as TotalSalesQuantity,
            sum(SalesPrice) as TotalSalesPrice,
            sum(ExciseTax) as TotalExciseTax
            from sales
            group by VendorNo, Brand
            order by TotalSalesDollars""", conn)

,VendorNo,Brand,TotalSalesDollars,TotalSalesQuantity,TotalSalesPrice,TotalExciseTax
0,8004,5287,0.98,2,0.98,0.10
1,9206,2773,0.99,1,0.99,0.05
2,3252,3933,1.98,2,0.99,0.10
3,3924,9123,1.98,2,0.99,0.10
4,10050,3623,1.98,2,1.98,0.10
...,...,...,...,...,...,...
11267,3960,3545,4223107.62,135838,545778.28,249587.83
11268,3960,4261,4475972.88,200412,420050.01,368242.80
11269,17035,8068,4538120.60,187140,461140.15,343854.07
11270,4425,3405,4819073.49,160247,561512.37,294438.66
11271,1128,1233,5101919.51,142049,672819.31,260999.20

In [35]:
pd.read_sql("select * from sales limit 1", conn)

,InventoryId,Store,Brand,Description,Size,SalesQuantity,SalesDollars,SalesPrice,SalesDate,Volume,Classification,ExciseTax,VendorNo,VendorName
0,1_HARDERSFIELD_1004,1,1004,Jim Beam w/2 Rocks Glasses,750mL,1,16.49,16.49,2024-01-01,750.0,1,0.79,12546,JIM BEAM BRANDS COMPANY

### 7. Build a Vendor-Wise Sales & Purchase Summary

This section constructs an aggregated vendor-level dataset that brings together:

- **Purchases** (quantity & dollars)
- **Sales** (quantity & dollars)
- **Freight costs**

This consolidated table enables vendor performance analysis and KPI computation in later steps.

In [ ]:
import time
start = time.time()

final_table = pd.read_sql("""select
            pp.VendorNumber,
            pp.Brand,
            pp.Price as ActualPrice,
            pp.PurchasePrice,
            sum(s.SalesDollars) as TotalSalesDollars,
            sum(s.SalesQuantity) as TotalSalesQuantity,
            sum(s.SalesPrice) as TotalSalesPrice,
            sum(s.ExciseTax) as TotalExciseTax,
            sum(vi.Quantity) as TotalPurchaseQuantity,
            sum(vi.Dollars) as TotalPurchaseDollars,
            sum(vi.Freight) as TotalFreightCost
            from purchase_prices pp
            join sales s
            on pp.VendorNumber = s.VendorNo
            and pp.Brand = s.Brand
            join vendor_invoice vi
            on pp.VendorNumber = vi.VendorNumber
            group by pp.VendorNumber, pp.Brand, pp.Price, pp.PurchasePrice""", conn)

end = time.time()

In [49]:
vendor_sales_summary = pd.read_sql("""WITH FreightSummary AS 
                          (SELECT VendorNumber, SUM(Freight) AS FreightCost 
                          FROM vendor_invoice 
                          GROUP BY VendorNumber),

PurchaseSummary AS (SELECT
            p.VendorNumber,
            p.VendorName,
            p.Brand,
            p.Description,
            p.PurchasePrice,
            pp.Volume,
            pp.Price as ActualPrice,
            SUM(p.Quantity) AS TotalPurchaseQuantity,
            SUM(p.Dollars) AS TotalPurchaseDollars
            FROM purchases p
            JOIN purchase_prices pp
            ON p.Brand = pp.Brand
            WHERE p.PurchasePrice > 0
            GROUP BY p.VendorNumber, p.VendorName, p.Brand),
                          
SalesSummary AS (SELECT
            VendorNo,
            Brand,
            SUM(SalesDollars) AS TotalSalesDollars,
            SUM(SalesQuantity) AS TotalSalesQuantity,
            SUM(SalesPrice) AS TotalSalesPrice,
            SUM(ExciseTax) AS TotalExciseTax
            FROM sales
            GROUP BY VendorNo, Brand
            ORDER BY TotalSalesDollars)
                          

SELECT
ps.VendorNumber,
ps.VendorName,
ps.Brand,
ps.Description,
ps.PurchasePrice,
ps.Volume,
ps.ActualPrice,
ps.TotalPurchaseQuantity,
ps.TotalPurchaseDollars,
ss.TotalSalesDollars,
ss.TotalSalesQuantity,
ss.TotalSalesPrice,
ss.TotalExciseTax,
fs.FreightCost
FROM PurchaseSummary ps
LEFT JOIN SalesSummary ss
ON ps.VendorNumber = ss.VendorNo
AND ps.Brand = ss.Brand
LEFT JOIN FreightSummary fs
ON ps.VendorNumber = fs.VendorNumber                          
ORDER BY ps.TotalPurchaseDollars DESC""", conn)    

vendor_sales_summary

,VendorNumber,VendorName,Brand,Description,PurchasePrice,Volume,ActualPrice,TotalPurchaseQuantity,TotalPurchaseDollars,TotalSalesDollars,TotalSalesQuantity,TotalSalesPrice,TotalExciseTax,FreightCost
0,1128,BROWN-FORMAN CORP,1233,Jack Daniels No 7 Black,26.27,1750,36.99,145080,3811251.60,5101919.51,142049.0,672819.31,260999.20,68601.68
1,4425,MARTIGNETTI COMPANIES,3405,Tito's Handmade Vodka,23.19,1750,28.99,164038,3804041.22,4819073.49,160247.0,561512.37,294438.66,144929.24
2,17035,PERNOD RICARD USA,8068,Absolut 80 Proof,18.24,1750,24.99,187407,3418303.68,4538120.60,187140.0,461140.15,343854.07,123780.22
3,3960,DIAGEO NORTH AMERICA INC,4261,Capt Morgan Spiced Rum,16.17,1750,22.99,201682,3261197.94,4475972.88,200412.0,420050.01,368242.80,257032.07
4,3960,DIAGEO NORTH AMERICA INC,3545,Ketel One Vodka,21.89,1750,29.99,138109,3023206.01,4223107.62,135838.0,545778.28,249587.83,257032.07
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10687,9815,WINE GROUP INC,8527,Concannon Glen Ellen Wh Zin,1.32,750,4.99,2,2.64,15.95,5.0,10.96,0.55,27100.41
10688,8004,SAZERAC CO INC,5683,Dr McGillicuddy's Apple Pie,0.39,50,0.49,6,2.34,65.66,134.0,1.47,7.04,50293.62
10689,3924,HEAVEN HILL DISTILLERIES,9123,Deep Eddy Vodka,0.74,50,0.99,2,1.48,1.98,2.0,0.99,0.10,14069.87
10690,3960,DIAGEO NORTH AMERICA INC,6127,The Club Strawbry Margarita,1.47,200,1.99,1,1.47,143.28,72.0,77.61,15.12,257032.07
10691,7245,PROXIMO SPIRITS INC.,3065,Three Olives Grape Vodka,0.71,50,0.99,1,0.71,85.14,86.0,33.66,4.46,38994.78

#### Why this summary is useful

This query generates a vendor-wise sales and purchase summary, which is valuable for:

Performance Optimization:

- The query involves heavy joins and aggregations on large datasets like sales and purchases.
- Storing the pre-aggregated results avoids repeated expensive computations.
- Helps in analyzing sales, purchases, and pricing for different vendors and brands.
- Future Benefits of Storing this data for faster Dashboarding & Reporting.
- Instead of running expensive queries each time, dashboards can fetch data quickly from vendor_sales_summary.

### 8. Data Quality Checks

Inspect column dtypes and null counts. These checks help catch:

- unexpected dtypes (e.g., numeric columns stored as text)
- missing values that need imputation
- whitespace / formatting issues in vendor names

In [50]:
vendor_sales_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10692 non-null  int64
 1   VendorName             10692 non-null  object
 2   Brand                  10692 non-null  int64
 3   Description            10692 non-null  object
 4   PurchasePrice          10692 non-null  float64
 5   Volume                 10692 non-null  object
 6   ActualPrice            10692 non-null  float64
 7   TotalPurchaseQuantity  10692 non-null  int64
 8   TotalPurchaseDollars   10692 non-null  float64
 9   TotalSalesDollars      10514 non-null  float64
 10  TotalSalesQuantity     10514 non-null  float64
 11  TotalSalesPrice        10514 non-null  float64
 12  TotalExciseTax         10514 non-null  float64
 13  FreightCost            10692 non-null  float64
dtypes: float64(8), int64(3), object(3)
memory usage: 1.1+ MB

In [51]:
vendor_sales_summary.isnull().sum()

VendorNumber               0
VendorName                 0
Brand                      0
Description                0
PurchasePrice              0
Volume                     0
ActualPrice                0
TotalPurchaseQuantity      0
TotalPurchaseDollars       0
TotalSalesDollars        178
TotalSalesQuantity       178
TotalSalesPrice          178
TotalExciseTax           178
FreightCost                0
dtype: int64

### 9. Cleaning and Standardization

Perform targeted cleaning:

- Cast numeric fields (e.g., `Volume`) to appropriate numeric dtypes
- Strip extra whitespace from `VendorName`
- Fill remaining missing values with sensible defaults (here: `0`)

In [52]:
vendor_sales_summary["Volume"] = vendor_sales_summary["Volume"].astype("Float64")
vendor_sales_summary["VendorName"] = vendor_sales_summary["VendorName"].str.strip()
vendor_sales_summary.fillna(0, inplace=True)

### 10. Feature Engineering: Vendor Performance KPIs

Create derived metrics that are commonly used to evaluate vendor performance:

- **Gross Profit** = Sales Dollars − Purchase Dollars
- **Profit Margin (%)** = Gross Profit / Sales Dollars
- **Stock Turnover** = Sales Quantity / Purchase Quantity

> These KPIs make it easier to compare vendors beyond raw revenue/volume.

In [53]:
vendor_sales_summary["GrossProfit"] = vendor_sales_summary["TotalSalesDollars"] - vendor_sales_summary["TotalPurchaseDollars"]
vendor_sales_summary["ProfitMargin"] = (vendor_sales_summary["GrossProfit"]/vendor_sales_summary["TotalSalesDollars"])*100
vendor_sales_summary["StockTurnover"] = vendor_sales_summary["TotalSalesQuantity"]/vendor_sales_summary["TotalPurchaseQuantity"]
vendor_sales_summary["SalesToPurchaseRatio"] = vendor_sales_summary["TotalSalesDollars"]/vendor_sales_summary["TotalPurchaseDollars"]

### 11. Persist the Summary Back to the Database

Create/replace a `vendor_sales_summary` table in SQLite so the aggregated dataset can be reused in dashboards, reports, or later notebooks without re-running the full query.

In [54]:
cursor = conn.cursor()

In [56]:
vendor_sales_summary.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10692 entries, 0 to 10691
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorNumber           10692 non-null  int64
 1   VendorName             10692 non-null  object
 2   Brand                  10692 non-null  int64
 3   Description            10692 non-null  object
 4   PurchasePrice          10692 non-null  float64
 5   Volume                 10692 non-null  Float64
 6   ActualPrice            10692 non-null  float64
 7   TotalPurchaseQuantity  10692 non-null  int64
 8   TotalPurchaseDollars   10692 non-null  float64
 9   TotalSalesDollars      10692 non-null  float64
 10  TotalSalesQuantity     10692 non-null  float64
 11  TotalSalesPrice        10692 non-null  float64
 12  TotalExciseTax         10692 non-null  float64
 13  FreightCost            10692 non-null  float64
 14  GrossProfit            10692 non-null  float64
 15  ProfitMargin           10692 non-null  float64
 16  StockTurnover          10692 non-null  float64
 17  SalesToPurchaseRatio   10692 non-null  float64
dtypes: Float64(1), float64(12), int64(3), object(2)
memory usage: 1.5+ MB

In [57]:
cursor.execute("""CREATE TABLE vendor_sales_summary (
VendorNumber INT,
VendorName VARCHAR(100),
Brand VARCHAR(100),
Description VARCHAR(100),
PurchasePrice DECIMAL(10,2),
Volume INT,
ActualPrice DECIMAL(10,2),
TotalPurchaseQuantity INT,
TotalPurchaseDollars DECIMAL(15,2),
TotalSalesDollars DECIMAL(15,2),
TotalSalesQuantity DECIMAL(15,2),
TotalSalesPrice DECIMAL(15,2),
TotalExciseTax DECIMAL(15,2),
FreightCost DECIMAL(15,2),
GrossProfit DECIMAL(15,2),
ProfitMargin DECIMAL(15,2),
StockTurnover DECIMAL(15,2),
SalesToPurchaseRatio DECIMAL(15,2),
PRIMARY KEY (VendorNumber, Brand))""")

In [58]:
vendor_sales_summary.to_sql("vendor_sales_summary", conn, if_exists="replace", index=False)

10692